*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
img{
  width:80px;
  height:60px;
}
.NavBar {
  display:table-header-group;
  position:fixed;
  width:100%;
}
.Logoplace {
  padding-top:3px;
  padding-left:5px;
  color:white;
}
.Logoplace a:link  {
  text-decoration:none;
  padding:10px 15px;
}
a:hover {
color:red;
padding:10px 15px;
text-decoration:line-through;
}
a{
 color:white;
}
/* Style the search field */
form.example input[type=text] {
padding: 10px;
font-size: 17px;
border: 1px solid grey;
float: left;
width: 200px;
/*background: #f1f1f1;*/
}

/* Style the submit button */
form.example button {
float: left;
width: 40px;
padding: 10px;
background: #2196F3;
color: white;
font-size: 17px;
border: 1px solid grey;
border-left: none; /* Prevent double borders */
cursor: pointer;
}

form.example button:hover {
background: #0b7dda;
}

/* Clear floats */
form.example::after {
content: "";
clear: both;
display: table;
}
.serchbox {
  position:absolute;
  right:5px;
  top:8px;
}
.catacry {
  position:absolute;
  left:95px;
  top:20px;
  padding-left:18px;
}